[submodule "3party/glfw"]
	path = 3party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3party/glm"]
	path = 3party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3party/glslang"]
	path = 3party/glslang
	url = https://github.com/KhronosGroup/glslang.git
